<footer class="footer container-fluid d-block d-md-none fixed-bottom">
    <div class="footer-socials">
        <ul class="social-menu d-flex justify-content-evenly">
            <li><a href="https://twitter.com/{{about.twitter}}" target="_blank" rel="noopener"
                    aria-label="visit my twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/{{about.linkedin}}/" target="_blank" rel="noopener"
                    aria-label="visit my linkedin profile page (opens in a new tab)"><i class="fab fa-linkedin"></i></a>
            </li>
            <li><a href="https://github.com/{{about.github}}" target="_blank" rel="noopener"
                    aria-label="visit my github profile page (opens in a new tab)"><i class="fab fa-github"></i></a>
            </li>
            <li><a href="mailto:{{about.email}}" target="_blank" rel="noopener"
                    aria-label="send a mail to samuel ukachukwu (opens in a new tab)"><i
                        class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="copyright text-center white-color">
        <p id="copyright-text">copyright &#169; <span class="logo1">shy</span><span class="logo2">BOLD</span> &reg;
            <span id="copy-right"></span>
        </p>
    </div>
</footer>