<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h3 class="modal-title modal-text" id="staticBackdropLabel">Contact Me</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body modal-items">
                <form id="contact-form">
                    <div class="row mb-3">
                        <!-- <input type="hidden" name="contact_number"> -->
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="user_name"
                                placeholder="John Smith" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" name="user_email"
                                placeholder="johnsmith@example.com" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="texthere" class="col-sm-2 col-form-label">Message</label>
                        <div class="col-sm-10">
                            <textarea id=texthere class="form-control" name="message"
                                placeholder="Project Description..." required rows="5" cols="30"></textarea>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button id="btn-submit" class="btn btn-light" type="submit">Send Project Request!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
